*{
padding: 0;
margin:0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #ffffff9d;
scrollbar-width: none;
}
body{
    background-color: rgb(10, 18, 67);
}
nav{
    height: 60px;
    margin: 15px;
    background-color: rgba(0, 255, 255, 0.327);
    border-radius: 15px;
    border: 2px solid #ffffff9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.mainContent{
    display: none;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.current-temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.location{
    padding-top: 40px;
    font-size: 3rem;
    text-align: center;
}

.temp{
    padding-top: 20px;
    font-size: xx-large;
    text-align: center;
}
.weatherIMG{
    width: 150px;
    /* padding-top: 20px; */
}

.forecast-section{
    min-width: 500px;
    padding-top: 30px;  
    margin: 30px;

}
.forecast{
    border: 1px solid #ffffff9d;
    min-height: 600px;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.today{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    /* align-items: center;
    justify-content: space-between; */
}

.time{
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    text-align: center;
    
}
.heading{
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ffffff9d; */
    text-align: center;
     text-shadow: black 5px 5px 5px;
}
.todayStat{
    font-size: larger;
}
.search{
    background-color: rgb(10, 18, 67);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    
}
#searchCity{
    width: 300px;
    color: rgb(10, 18, 67);
    font-size: larger;
    background-color: #ffffff9d;
    border: 2px solid rgb(10, 18, 67);
}

.tempC{
    /* width: 100px; */
    text-align: center;
}
.overall{
    text-align: center;
}
.colon{
    padding: 0 20px;
}
.forecastHeading{
    font-size: x-large;
    font-weight: 700;
    text-shadow: black 5px 5px 5px;
    padding-bottom: 20px;
}

#TodayDate{
    text-shadow: black 2px 2px 2px;
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
  
}