* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: #ffffff9d; */
    scrollbar-width: none;
}

body {
    background-color: rgb(10, 18, 67);
    background-size: cover;
    overflow: scroll;
    /* position: fixed; */
}

nav {
    height: 60px;
    margin: 15px;
    background-color: rgba(0, 255, 255, 0.082);
    border-radius: 15px;
    border: 2px solid #ffffff9d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    color: #ffffff9d;
}

.mainContent {
    display: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

.current-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.location {
    padding-top: 40px;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.temp {
    padding-top: 20px;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.weatherIMG {
    width: 150px;
    /* padding-top: 20px; */
}

.forecast-section {
    min-width: 500px;
    padding-top: 30px;
    margin: 30px;

}

.forecast {
    border: 1px solid #ffffff9d;
    min-height: 600px;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.today {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    /* align-items: center;
    justify-content: space-between; */
}

.time {
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    text-align: center;
    color: white;
    text-shadow: black 1px 1px 1px;
    

}

.heading {
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ffffff9d; */
    text-align: center;
       color: white;
    /* text-shadow: black 1px 1px 1px; */
    text-shadow: black 5px 5px 5px;
}

.todayStat {
    font-size: larger;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.search {
    background-color: rgba(0, 255, 255, 0);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;

}

#searchCity {
    width: 300px;
    color: rgb(10, 18, 67);
    font-size: larger;
    background-color: #ffffff00;
    border: 2px solid rgb(255, 255, 255);
}

.tempC {
    /* width: 100px; */
    text-align: center;
       color: white;
    text-shadow: black 1px 1px 1px;
}

.overall {
    text-align: center;
}

.colon {
    padding: 0 20px;
}

.forecastHeading {
    font-size: x-large;
    font-weight: 700;
    text-shadow: black 5px 5px 5px;
    padding-bottom: 20px;
}

#TodayDate {
    text-shadow: black 2px 2px 2px;
    font-size: x-large;
}
#srcbtn{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
    }

.temp-text{
    color: white;
    text-shadow: black 1px 1px 8px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    /* .todayStat{
    font-size: small;
  } */
    nav {
        height: 60px;
        width: calc(100vw-10px);
        margin: 5px;
        background-color: rgba(0, 255, 255, 0.327);
        border-radius: 15px;
        border: 2px solid #ffffff9d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }

    #searchCity {
        width: 100px;
        font-size: smaller;

    }

    .search {
        margin: 1px;
    }

    .currentLocate {
        max-width: 80px;
        font-size: x-small;
    }

    .webName {
        font-size: small;
    }
    #srcbtn{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
    }
    .forecast{
        border: 0px solid #ffffff9d;
    }
}